div#header { height: 90px;  background: url(/images-header/annonces-immobilieres-entre-particuliers.gif) no-repeat top center #9BC0E4 ;}
div#header img { margin-top: 15px; }

/* Mention----------------------------------------------------------*/
div#mention .legal_box { width: 600px; margin: 50px auto; }

/* Condition--------------------------------------------------------*/
div#condition ul { width: 600px; margin: 0 auto; text-align: justify; }
div#condition ul li { margin: 15px 0; }

/* Revue de site----------------------------------------------------*/
div#ads { height: 600px; }
div#ads div#theme { width: 500px; border: 1px dashed #036; margin: 100px auto; }

/* sites-N.htm------------------------------------------------------*/
div#sites h1 { font-family: "Comic Sans MS"; font-size: 1.4em ; font-weight: bold; margin: 10px auto; }

div#sites div#theme { width: 400px; border: 1px dashed #036; margin: 10px auto; }

div#sites table { margin: 0 auto; border: 1px solid #036; }
div#sites table td { padding: 10px; }

/* Contact Annonceur-------------------------------------------------*/
div#contact_ano {background: white;}
div#contact_ano table#input_mail { margin: 0 auto; border: 1px solid #39C; width: 100%; height: 330px;}
div#contact_ano table#input_mail td { padding: 5px; }
div#contact_ano table#code { width: 100%; }

/* Contact Webmaster-------------------------------------------------*/
div#contact_web {width: 998px; background: white; margin: 0px auto; padding: 50px 0;}
div#contact_web table#input_mail { margin: 0 auto; border: 1px solid #39C; width: 400px; height: 370px;}
div#contact_web table#input_mail td { padding: 5px; }
div#contact_web table#code { width: 100%; }

