div#linkbar {
margin: 30 0 30 0;
text-align: center;
}

div#linkbar ul {
margin: 0px;
padding: 5px 20px;
}


div#linkbar ul li {
display: inline;
margin-right: -4px;
}

div#linkbar ul li a {
padding: 3px 6px 3px 6px;
color: #fff;
font-weight: bold;
text-decoration: none;
border: 1px solid #fff;
margin-left:10px;
background-color: #8395a3;
}

div#linkbar ul li a:hover {
background: #993300;

}

div#linkbar ul li a.active {
background: #993300;
}
